.termos ul {
  max-width: 760px;
  margin-bottom: 48px;
}
.termos ul:last-child {
  margin-bottom: 120px;
}
.termos li {
  margin-bottom: 20px;
}
.termos h2 {
  margin-bottom: 20px;
}
.termos h2:first-child {
  margin-top: 120px;
}
